/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin:auto;
  font-family: 'Work Sans' ;
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0
}
section {
  margin: 50px 0
}

h1{
  display: flex;
  flex-direction: column;
  font-family: 'Syne';
  font-size: 22px;
  font-weight: 800;
  color: #B1663C
}

h1 > span {
  font-family: 'Work Sans';
  font-size:10px;
  letter-spacing: 0.1em;
}

h2{
  font-family: 'Syne';
  font-weight: 700;
  font-size: 30px;
  color: #1D6154
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;

}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li a {
  text-decoration: none;
  color: black;
}

li a:hover {
  color: #B1663C;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.filters ul {
  display: flex;
  gap: 10px;
  width: 50%;
}

.filters li {
  font-family: 'Syne';
  font-size: 1rem;
  color: #1D6154;
  background-color: white;
  border: #1D6154 1px solid;
  border-radius: 60px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  padding: 9px;
  cursor: pointer;
}

.filters li.active {
  color: white;
  background-color: #1D6154;
}

.filters li:hover,
.filters li:focus {
  color: white;
  background-color: #1D6154;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;

}
#contact,
#auth {
  width: 50%;
  margin: auto;
}
#contact > *,
#auth > * {
  text-align: center;

}
#contact h2,
#auth h2 {
  margin-bottom: 20px;
}
#contact form,
#auth form {
  text-align: left;
  margin-top:30px;
  display: flex;
  flex-direction: column;
}

#contact input,
#auth input,
#login {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#auth label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"],
#login,
.modal-addbtn {
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin : 2em auto ;
  width: 180px;
  text-align: center;
  border-radius: 60px ;
  cursor: pointer;
}

#auth a {
  text-decoration: underline;
  color: #3D3D3D;
}

footer nav ul,
footer a {
  display: flex;
  justify-content: flex-end;
  margin: 2em
}

footer a {
  text-decoration: none;
  color: black;
}

/***** CSS for JS insertion *****/

body > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
  background-color: black;
  height: 59px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.header-admin {
  margin-top: 97px;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  cursor: pointer;
  font-size: 0.875rem;
}

/* editBanner in JS */
.btn-1 {
  color: white;
  font-size: 1rem;
}

/* editChanges in JS */
.btn-2 {
  color: black;
  background-color: white;
  border-radius: 60px;
  width: 216px;
  height: 38px;
}

/* editImg in JS */
.btn-3 {
  margin-top: 15px;
  margin-left: 54px;
}

/* editArticle in JS */
.btn-4 {
  margin-bottom: 19px;
  margin-left: -2px;
}

/* editGallery in JS */
.editWorksBtn {
  margin-left: 31px;
}

/***** Modal *****/

.modal-container,
.add-modal-container {
  display: none;
}

.modal-container.show,
.add-modal-container.show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  width: 630px;
  height: 731px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-title {
  font-size: 1.625rem;
  margin-bottom: 46px;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 9px;
  margin-bottom: 47px;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.image-wrapper img {
  width: 76px;
  height: 102px;
  object-fit: cover;
}

.fa-trash-can,
.fa-arrows-up-down-left-right {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 17px;
  height: 17px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.75rem;
}

.fa-arrows-up-down-left-right {
  right: 26px;
  display: none;
}

.image-wrapper:hover .fa-arrows-up-down-left-right,
.image-wrapper:focus .fa-arrows-up-down-left-right {
  display: flex;
}

.image-wrapper button {
  font-size: 0.75rem;
  padding-inline: 0;
}

.separator {
  width: 420px;
  height: 1px;
  background-color: #b3b3b3;
  margin-bottom: 38px;
}

.modal-addbtn {
  width: 237px;
  height: 36px;
  margin: 0 0 23px 0;
}

.modal-deletebtn {
  color: #D65353;
  text-align: center;
  font-family: Syne;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-close {
  position: absolute;
  top: 26px;
  right: 30px;
  font-size: 24px;
  cursor: pointer;
}

.add-modal-content {
  height: 670px;
}

.modal-return {
  position: absolute;
  top: 26px;
  left: 30px;
  font-size: 21px;
  cursor: pointer;
}

.add-modal-content form {
  display: flex;
  flex-direction: column;
}

.add-photo-window {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E8F1F6;
  width: 420px;
  height: 169px;
  margin-bottom: 30px;
}

.fa-image {
  color: #B9C5CC;
  font-size: 58px;
  margin-bottom: 15px;
}

input[type="file"] {
  display: none;
}

.add-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 36px;
  background-color: #CBD6DC;
  border-radius: 60px;
  cursor: pointer;
  color: #306685;
  margin-bottom: 7px;
}

.size-info {
  color: #444444;
  font-size: 10px;
}

.validation-btn {
  background-color: #A7A7A7;
}